<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.fortytwode.yoganidra.processing</string>
    </array>
    <key>CFBundleGetInfoString</key>
    <string></string>
    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
        <string>fetch</string>
        <string>processing</string>
    </array>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>yoganidra</string>
            </array>
            <key>CFBundleURLName</key>
            <string>com.rocketship.YogaNidraSleepDeeply</string>
        </dict>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb2098132190611838</string>
            </array>
        </dict>
    </array>
    <!-- Added Universal Links Configuration -->
    <key>com.apple.developer.associated-domains</key>
    <array>
        <string>applinks:rocketshiphq.com</string>
    </array>
    
    <!-- Facebook SDK Configuration -->
    <key>FacebookAppID</key>
    <string>2098132190611838</string>
    <key>FacebookClientToken</key>
    <string>85dc3651cda821442bdeb0c38451fc97</string>
    <key>FacebookAutoLogAppEventsEnabled</key>
    <true/>
    <key>FacebookAdvertiserIDCollectionEnabled</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-share-api</string>
    </array>
</dict>
</plist>
